/* 
* {
    border: 1px solid red;
} 
*/

header {
    display: block;
    border-bottom: 2px solid blue;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

main {
    background-image: linear-gradient(to bottom, blue, white);
    position: relative;
}

footer {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 100px;
}

.top-corner {
    position: absolute;
    top: 30px;
    right: 10px;
    text-align: right;
}

.featured-work {
    text-align: center;
    margin-top: 20px;
}

.left {
    float: left;
    margin-right: 50px;
}

.right {
    float: right;
    margin-left: 50px;
}

.info {
    text-align: center;
}

.info-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.dropdown {
    
}

#headshot {
    display: flex;
    align-items: center;
    width: 8%;
    height: auto;
    justify-content: left;
    top: 5px;
}

#center-picture {
    height: auto;
    display: flex;
    justify-content: center;
}

#additional-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#info-heading {
    margin-top: 20px;
}

#dropdownBox {
    position: fixed; /* Or sticky for scrolling behavior */
    top: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it appears above other content */
}

#dropdownBox.show {
    display: block; /* Show the dropdown */
}