* {
    border: 1px solid red;
}

header {
    display: block;
    border-bottom: 2px solid blue;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

main {
    background-image: linear-gradient(to bottom, blue, white);
    position: relative;
}

footer {
    bottom: 3px;
    text-align: center;
    margin-top: 25px;
}

.top-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.featured-work {
    text-align: center;
}

.left {
    float: left; 
    margin-right: 50px;
}

.right {
    float: right;
    margin-left: 50px;
}

.info {
    text-align: center;
}

.info-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#headshot {
    width: 8%;
    height: auto;
    justify-content: left;
}

#center-picture {
    height: auto;
    display: flex;
    justify-content: center;
}

#additional-info {
    display: flex;
    justify-content: center; 
}